<%= form_for([@patient, @medicine]) do |f| %>
  <% if @medicine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medicine.errors.count, "error") %> prohibited this medicine from being saved:</h2>

      <ul>
      <% @medicine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :name, :class => "form-control", :placeholder => "Medicine Name" %>
  </div>
  <div class="form-group">
    <%= f.text_field :prescription, :class => "form-control", :placeholder => "Medicine Prescription - 4 x 5 or 2 x 1" %>
  </div>
  <div class="form-group">
    <%= f.text_field :gram, :class => "form-control", :placeholder => "Gramage - 500mg or 253mg" %>
  </div>
  <div class="form-group">
    <%= f.text_field :refill, :class => "form-control", :placeholder => "Refills - 9" %>
  </div>
  <div class="form-group">
    <%= f.text_area :info, :class => "form-control", :placeholder => "More information about the Medication" %>
  </div>
  <div class="row">
  <div class="col-md-4">
    <%= f.submit :class => "btn btn-success" %>
<% end %>


