<p id="notice"><%= notice %></p>

  <div class="row form-signin">
  <div class="col-md-4"> <label>Name</label> <br><%= @medicine.name %> </div>
  <div class="col-md-4"> <label>Prescription</label> <br><%= @medicine.prescription %> </div>
  <div class="col-md-4"> <label>Refills</label> <br><%= @medicine.refill %> Refills</div>
  <div class="col-md-12"> <hr> </div>
  <div class="col-md-12"> <label>Medicine Information</label> <br> <%= @medicine.info %> </div>
</div>
<hr>
<% if current_user.doctor %>
<%= link_to 'Edit', edit_patient_medicine_path(@patient, @medicine), :class => "btn btn-default" %> | <% end %>
<%= link_to 'Back', patient_path(@patient), :class => "btn btn-default" %>
<%= link_to 'Delete this Medicine', patient_medicine_path(@patient, @medicine), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
