<%= form_for(@patient, :html => {:class => "form-signin"}) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :fname, :class => "form-control", :placeholder => "First Name" %>
  </div>
  <div class="form-group">
    <%= f.text_field :lname, :class => "form-control", :placeholder => "Last Name" %>
  </div>
  <select class="form-control" <%= f.select :gender, options_for_select(["Male", "Female"]), :class => "form-control"%>
  <div class="form-group"></div>
  <div class="form-group">
    <%= f.date_select :dob, start_year: 1960, :class => "form-control"%>
  </div>
  <div class="multi form-group">
    <%= f.text_field :nextofkin, :class => "form-control", :placeholder => "Next of Kin Name" %>
  </div>
  <div class="form-group">
    <%= f.text_field :nextofkinphone, :class => "form-control", :placeholder => "Next of Kin Telephone" %>
  </div>
  <hr>
  <div class="row">
  <div class="col-md-4">
    <%= f.submit :class => "btn btn-success" %> 

<% end %>

