<<<<<<< HEAD
<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :fname, :class => "form-control", :placeholder => "First Name" %>
  </div>
  <div class="form-group">
    <%= f.text_field :lname, :class => "form-control", :placeholder => "Last Name" %>
  </div>
  <select class="form-control" <%= f.select :gender, options_for_select(["Male", "Female"]), :class => "form-control"%>
  <div class="form-group"></div>
  <div class="form-group">
    <%= f.date_select :dob, start_year: 1960, :class => "form-control"%>
  </div>
  <div class="multi form-group">
    <%= f.text_field :nextofkin, :class => "form-control", :placeholder => "Next of Kin Name" %>
  </div>
  <div class="form-group">
    <%= f.text_field :nextofkinphone, :class => "form-control", :placeholder => "Next of Kin Telephone" %>
  </div>
  <hr>
  <div class="row">
  <div class="col-md-4">
    <%= f.submit :class => "btn btn-success" %> 

<% end %>

=======
<%= form_for(@new_patient ) do |f| %>
<% if @new_patient .errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@new_patient .errors.count, "error") %> prohibited this patient from being saved:</h2>

  <ul>
    <% @new_patient .errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-md-6"> <%= f.text_field :firstName, class: "form-control", placeholder: "First Name", autofocus: true %> </div>
  <div class="col-md-6"> <%= f.text_field :lastName, class: "form-control", placeholder: "Last Name" %> </div>
</div>

<div class="row top10">
  <div class="col-md-4"> <%= f.select(:gender, ['Select Gender', 'Male', 'Female'], {}, { class: "form-control" }) %></div>
  <div class="col-md-5"> <%= f.text_field :sickness, class: "form-control", placeholder: "Sickness" %>  </div>
  <div class="col-md-3"> <%= f.date_select :dob, :start_year=>1900, class: "form-control" %> </div>
</div>

<div class="row top10">
  <div class="col-md-12"> <h4> Proxy Information </h4> </div>
  <div class="col-md-6"> <%= f.text_field :proxyName, class: "form-control", placeholder: "Proxy Name" %> </div>
  <div class="col-md-6"> <%= f.text_field :proxyTelephone, class: "form-control", placeholder: "Proxy Telephone" %> </div>
</div>
<hr>
<div class="actions"> <%= f.submit %> </div>
<hr>
</div>
<% end %>
>>>>>>> 234c9b8af761cd64312d5ac2a3a601d1ccb93988
