<<<<<<< HEAD
<p id="notice"><%= notice %></p>

  <div class="row">
  <div class="col-md-9"> <h2>Listing Patients</h2> </div>
  <div class="col-md-3 text-right"> <%= link_to 'Add Patient', new_patient_path, :class => "btn btn-success btn-lg" %> </div>
</div>
<hr>
    <% @patients.each do |patient| %>
    <div class="row">
    <div class="col-md-3"> <%= patient.fname %> <%= patient.lname %> </div>
    <div class="col-md-1"> <%= patient.gender %> </div>
    <div class="col-md-2"> <%= patient.dob %> </div>
    <div class="col-md-2"> <%= patient.nextofkin %> </div>
    <div class="col-md-1"> <%= patient.nextofkinphone %> </div>
    <div class="col-md-3 text-right"> 
      <%= link_to 'Show', patient, :class => "btn btn-success btn-sm" %> |
      <%= link_to 'Edit', edit_patient_path(patient), :class => "btn btn-warning btn-sm" %> | <%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %>
    </div>
</div>
<hr>
    <% end %>

=======
<h2>Patient Managment System</h2>

<div class="row top30"></div>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#patients"><strong>Patients</strong></a></li>
  <li><a data-toggle="tab" href="#addPatient"><strong>Add Patient</strong></a></li>
</ul>
<hr>

<div class="tab-content">
  <div id="patients" class="tab-pane fade in active">
    <h3>Patient List</h3>
    <hr>
    <div class="row">
      <div class="col-md-1"><strong> P. ID </strong></div>
      <div class="col-md-3"><strong> NAME </strong></div>
      <div class="col-md-2"><strong> GENDER </strong></div>
      <div class="col-md-2"><strong> SICKNESS </strong></div>
      <div class="col-md-2"><strong> AGE </strong></div>
      <div class="col-md-2"><strong> CONTACT </strong></div>
    </div>
    <hr>
    
    <% @patients.each do |patient| %>
    <div class="row">
      <div class="col-md-1"> <strong><%= patient.id_number %></strong> </div>
      <div class="col-md-3"> <%= link_to patient.firstName, patient %> <%= link_to patient.lastName, patient %></div>
      <div class="col-md-2"> <%= patient.gender %> </div>
      <div class="col-md-2"> <%= patient.sickness %> </div>
      <div class="col-md-2"> <%= patient.age %> Years </div>
      <div class="col-md-2"> <%= patient.proxyTelephone %>  </div>
    </div>
    <hr>      
    <% end %>
  </div>
  <!-- End of Patients Tab -->


  <div id="addPatient" class="tab-pane fade">
    <h3>Add Patient</h3>
    <hr>
    <%= render 'form' %>
    <div class="row top30"></div>
  </div>
  <!-- End of Add Patients Tab -->
</div>
>>>>>>> 234c9b8af761cd64312d5ac2a3a601d1ccb93988
