<<<<<<< HEAD
    
<div class="row">
  <div class="col-md-12"> <%= link_to 'Back to Patient list', patients_path, :class => "btn btn-default btn-sm" %> </div>
  </div>
<hr>
<div class="row">
  <div class="col-md-3">
    <address>
      <abbr title="Title">Name:</abbr> <strong><%= @patient.fname %> <%= @patient.lname %></strong><br>
      <abbr title="Title">Gender:</abbr> <strong><%= @patient.gender %></strong><br>
      <abbr title="Title">Date of Birth:</abbr> <strong><%= @patient.dob %></strong><br>
      <abbr title="Title">Tel:</abbr> <strong>(123) 456-7890</strong>
    </address>

    <address>
      <abbr title="Title">Next of Kin:</abbr> <strong><%= @patient.nextofkin %></strong><br>
      <abbr title="Title">Tel:</abbr> <strong><%= @patient.nextofkinphone %></strong>
    </address>
    <%= link_to 'Edit Your Info', edit_patient_path(@patient), :class => "btn btn-warning btn-sm" %>
    <hr>
  </div>

  <div class="col-md-5">
    <% if !@patient.contact.nil? %>
    <address>
      <abbr title="Title">Mobile tel:</abbr> <strong><%= @patient.contact.mobilephone %></strong><br>
      <abbr title="Title">Home tel:</abbr> <strong><%= @patient.contact.homephone %></strong><br>
      <abbr title="Title">City:</abbr> <strong><%= @patient.contact.city %> <%= @patient.contact.state %></strong><br>
      <abbr title="Title">Country:</abbr> <strong><%= @patient.contact.country %> <%= @patient.contact.zipcode %></strong><br>
    </address>

    <address>
      <abbr title="Title">Country:</abbr> <strong><%= @patient.contact.country %></strong><br>
      <abbr title="Title">Zipcode:</abbr> <strong><%= @patient.contact.zipcode %></strong><br>
    </address>
  <%= link_to "Edit Your Contact", edit_patient_contact_path(@patient, @contact) , :class => "btn btn-warning btn-sm" %>
    <hr>
    <% else %>
    <%= link_to "Add Contacts", new_patient_contact_path(@patient, @contact) , :class => "btn btn-success btn-lg" %>
    <% end %>
    
  </div>
  <div class="col-md-4">
    <div class="list-group">
      <a href="#" class="list-group-item disabled text-right"><strong> <%= @patient.fname %>'s MEDICATION LIST </strong></a>
      <a href="#" class="list-group-item text-right"><%= @medicine.name %> . plusAid phamacy | <strong> 5 Refills </strong> </a>
      <a href="#" class="list-group-item text-right">Oxycodia 323mg . CVS phamacy | <strong> 5 Refills </strong></a>
      <a href="#" class="list-group-item text-right">more</a>
    </div>
    <hr>
  </div>
</div>

<h4>Doctors Summary Notes</h4>
<hr>
<div class="row">
  <% if !@patient.summaries.nil? %>
  <% @summary.each do |summary| %>
  <div class="col-md-12">
    <blockquote>
      <p><strong><%= @patient.fname %>'s</strong> visit notes added on: <strong> <%= summary.created_at.to_formatted_s(:long) %></strong> </p>
      <p><strong> <%= summary.complaint %> </strong></p>
      <footer><%= summary.notes %></footer>
    </blockquote>
  </div>
  <div class="col-md-12 text-right">
    <%= link_to "Show Medicine", patient_summary_medicines_path(@patient, summary), :class => "btn btn-success btn-sm" %> | <%= link_to "Add Medicine", new_patient_summary_medicine_path(@patient, summary), :class => "btn btn-success btn-sm" %> |
    <%= link_to "Edit Note", edit_patient_summary_path(@patient, summary), :class => "btn btn-warning btn-sm"  %> | <%= link_to "Delete Note", patient_summary_path(@patient, summary), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm"  %>
    <hr>

  </div>
  <% end %>
</div>
<%= link_to "Add Another Summary", new_patient_summary_path(@patient, @summary), :class => "btn btn-success"  %>
<% else %>
<%= link_to "Add Summary", new_patient_summary_path(@patient, @summary), :class => "btn btn-success"  %>
<% end %>  <hr>



<p> --- this is medicine for summary 13 </p>
    <% @m.each do |medicine| %>
        <p><%= medicine.name %>
        <%= medicine.gram %>
        <%= medicine.prescription %>
        <%= medicine.refill %>
        <%= medicine.summary %></p>
        <%#= link_to 'Show', patient_summary_medicine(@patient, @s, medicine) %>
        <%#= link_to 'Edit', edit_medicine_path(medicine) %>
        <%#= link_to 'Destroy', medicine, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

<p> -- ends here </p>










=======

    <h2>Patient Managment System</h2>
    <div class="row top30"></div>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#gordon"><strong>Gordon</strong></a></li>
      <li><a data-toggle="tab" href="#visits"><strong>Hospital Visits</strong></a></li>
      <li><a data-toggle="tab" href="#medications"><strong>Medications</strong></a></li>
    </ul>
    <hr>
    <div class="tab-content">
      <div id="gordon" class="tab-pane fade in active">
        <h3>Gordon's Records</h3>
        <hr>
        <address>
          <strong>Contact Info.</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> (781) 584-0782
        </address>

        <address>
          <strong>Full Name</strong><br>
          <a href="mailto:#">turibamwe@outlook.com</a>
        </address>
        <hr>
        <div class="row">
          <div class="col-md-3"> <strong> GENDER:</strong> <%= @patient.gender %> </div>
          <div class="col-md-3"> <strong> DOB:</strong> <%= @patient.dob %> </div>
          <div class="col-md-3"> <strong> SICKNESS:</strong> <%= @patient.sickness %> </div>
          <div class="col-md-3"> <strong> PROXY:</strong> <%= @patient.proxyName %>  </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12"> 
            <strong>SUMMARY:</strong><br>
            <hr>
            <p>
              Pellentesque iaculis ex vitae nunc maximus viverra. Mauris dictum cursus mollis. Mauris pulvinar sodales ipsum, tristique commodo leo posuere at. Aliquam at molestie nisl. Aliquam at ullamcorper diam. Donec quis mauris porttitor, dapibus tellus non, imperdiet felis. Sed risus magna, elementum vel velit eu, tempor bibendum neque. Nunc et neque quis justo placerat volutpat sed et lectus. Donec aliquam ut tortor eget bibendum. Donec auctor a leo ac condimentum. 
            </p>
            <p>
              Pellentesque iaculis ex vitae nunc maximus viverra. Mauris dictum cursus mollis. Mauris pulvinar sodales ipsum, tristique commodo leo posuere at. Aliquam at molestie nisl. Aliquam at ullamcorper diam. Donec quis mauris porttitor, dapibus tellus non, imperdiet felis. Sed risus magna, elementum vel velit eu, tempor bibendum neque. Nunc et neque quis justo placerat volutpat sed et lectus. Donec aliquam ut tortor eget bibendum. Donec auctor a leo ac condimentum. Vestibulum viverra ipsum in justo sollicitudin gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod, ligula nec imperdiet imperdiet, nunc purus fringilla augue, eget vulputate leo ex at erat.
            </p>
            <p>
              Pellentesque iaculis ex vitae nunc maximus viverra. Mauris dictum cursus mollis. Mauris pulvinar sodales ipsum, tristique commodo leo posuere at. Aliquam at molestie nisl. Aliquam at ullamcorper diam. Donec quis mauris porttitor, dapibus tellus non, imperdiet felis. Sed risus magna, elementum vel velit eu, tempor bibendum neque. Nunc et neque quis justo placerat volutpat sed et lectus. Donec aliquam ut tortor eget bibendum. Donec auctor a leo ac condimentum. elementum vel velit eu, tempor bibendum neque. Nunc et neque quis justo placerat volutpat sed et lectus. Donec aliquam ut tortor eget bibendum. Donec auctor a leo ac condimentum. Vestibulum viverra ipsum in justo sollicitudin gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod, ligula nec imperdiet imperdiet, nunc purus fringilla augue, eget vulputate leo ex at erat.
            </p>
            <p>
              Pellentesque iaculis ex vitae nunc maximus viverra. Mauris dictum cursus mollis. Mauris pulvinar sodales ipsum, tristique commodo leo posuere at. Aliquam at molestie nisl. Aliquam at ullamcorper diam. Donec quis mauris porttitor, dapibus tellus non, imperdiet felis. Sed risus magna, elementum vel velit eu, tempor bibendum neque. Nunc et neque quis justo placerat volutpat sed et lectus. Donec aliquam ut tortor eget bibendum. Donec auctor a leo ac condimentum. Vestibulum viverra ipsum in justo sollicitudin gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod, ligula nec imperdiet imperdiet, nunc purus fringilla augue, eget vulputate leo ex at erat.
            </p>
            <hr>
          </div>
        </div>
      </div>
      <div id="addPatient" class="tab-pane fade">
        <h3>Add Patient</h3>
        <hr>
        <form>
          <div class="form-group col-md-12">
            <label for="exampleInputEmail2">Add Patient</label>
          </div>

          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <a href="#" class="btn btn-md btn-primary"> <strong>Add</strong></a>
          </div>
          <hr>
        </form>
        <hr>
        <div class="row top30"></div>
      </div>
      <div id="visits" class="tab-pane fade">
        <h3>Gordon's visits</h3>
        <hr>
        <div class="row">
          <div class="col-md-4"> <strong> DATE: </strong> 2015-04-13 </div>
          <div class="col-md-4"> <strong> DOCTOR: </strong> Dr. Philly </div>
          <div class="col-md-4"> <strong> VITALS: </strong> T. 98 | HM. 98/34 | H. 165.3 </div>
          <div class="col-md-12"> 
            <hr>
            <strong>REASON:</strong><br>
            Pellentesque iaculis ex vitae nunc maximus viverra. Mauris dictum cursus mollis. Mauris pulvinar sodales ipsum, tristique commodo leo posuere at. Aliquam at molestie nisl. Aliquam at ullamcorper diam. Donec quis mauris porttitor, dapibus tellus non, imperdiet felis. Sed risus magna, elementum vel velit eu, tempor bibendum neque. Nunc et neque quis justo placerat volutpat sed et lectus. Donec aliquam ut tortor eget bibendum. Donec auctor a leo ac condimentum. Vestibulum viverra ipsum in justo sollicitudin gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod, ligula nec imperdiet imperdiet, nunc purus fringilla augue, eget vulputate leo ex at erat.
          </div>
        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-4"> <strong> DATE: </strong> 2015-04-13 </div>
          <div class="col-md-4"> <strong> DOCTOR: </strong> Dr. Philly </div>
          <div class="col-md-4"> <strong> VITALS: </strong> T. 98 | HM. 98/34 | H. 165.3 </div>
          <div class="col-md-12"> 
            <hr>
            <strong>REASON:</strong><br>
            Pellentesque iaculis ex vitae nunc maximus viverra. Mauris dictum cursus mollis. Mauris pulvinar sodales ipsum, tristique commodo leo posuere at. Aliquam at molestie nisl. Aliquam at ullamcorper diam. Donec quis mauris porttitor, dapibus tellus non, imperdiet felis. Sed risus magna, elementum vel velit eu, tempor bibendum neque. Nunc et neque quis justo placerat volutpat sed et lectus. Donec aliquam ut tortor eget bibendum. Donec auctor a leo ac condimentum. Vestibulum viverra ipsum in justo sollicitudin gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod, ligula nec imperdiet imperdiet, nunc purus fringilla augue, eget vulputate leo ex at erat.
          </div>
        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-4"> <strong> DATE: </strong> 2015-04-13 </div>
          <div class="col-md-4"> <strong> DOCTOR: </strong> Dr. Philly </div>
          <div class="col-md-4"> <strong> VITALS: </strong> T. 98 | HM. 98/34 | H. 165.3 </div>
          <div class="col-md-12"> 
            <hr>
            <strong>REASON:</strong><br>
            Pellentesque iaculis ex vitae nunc maximus viverra. Mauris dictum cursus mollis. Mauris pulvinar sodales ipsum, tristique commodo leo posuere at. Aliquam at molestie nisl. Aliquam at ullamcorper diam. Donec quis mauris porttitor, dapibus tellus non, imperdiet felis. Sed risus magna, elementum vel velit eu, tempor bibendum neque. Nunc et neque quis justo placerat volutpat sed et lectus. Donec aliquam ut tortor eget bibendum. Donec auctor a leo ac condimentum. Vestibulum viverra ipsum in justo sollicitudin gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod, ligula nec imperdiet imperdiet, nunc purus fringilla augue, eget vulputate leo ex at erat.
          </div>
        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-4"> <strong> DATE: </strong> 2015-04-13 </div>
          <div class="col-md-4"> <strong> DOCTOR: </strong> Dr. Philly </div>
          <div class="col-md-4"> <strong> VITALS: </strong> T. 98 | HM. 98/34 | H. 165.3 </div>
          <div class="col-md-12"> 
            <hr>
            <strong>REASON:</strong><br>
            Pellentesque iaculis ex vitae nunc maximus viverra. Mauris dictum cursus mollis. Mauris pulvinar sodales ipsum, tristique commodo leo posuere at. Aliquam at molestie nisl. Aliquam at ullamcorper diam. Donec quis mauris porttitor, dapibus tellus non, imperdiet felis. Sed risus magna, elementum vel velit eu, tempor bibendum neque. Nunc et neque quis justo placerat volutpat sed et lectus. Donec aliquam ut tortor eget bibendum. Donec auctor a leo ac condimentum. Vestibulum viverra ipsum in justo sollicitudin gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod, ligula nec imperdiet imperdiet, nunc purus fringilla augue, eget vulputate leo ex at erat.
          </div>
        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-4"> <strong> DATE: </strong> 2015-04-13 </div>
          <div class="col-md-4"> <strong> DOCTOR: </strong> Dr. Philly </div>
          <div class="col-md-4"> <strong> VITALS: </strong> T. 98 | HM. 98/34 | H. 165.3 </div>
          <div class="col-md-12"> 
            <hr>
            <strong>REASON:</strong><br>
            Pellentesque iaculis ex vitae nunc maximus viverra. Mauris dictum cursus mollis. Mauris pulvinar sodales ipsum, tristique commodo leo posuere at. Aliquam at molestie nisl. Aliquam at ullamcorper diam. Donec quis mauris porttitor, dapibus tellus non, imperdiet felis. Sed risus magna, elementum vel velit eu, tempor bibendum neque. Nunc et neque quis justo placerat volutpat sed et lectus. Donec aliquam ut tortor eget bibendum. Donec auctor a leo ac condimentum. Vestibulum viverra ipsum in justo sollicitudin gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod, ligula nec imperdiet imperdiet, nunc purus fringilla augue, eget vulputate leo ex at erat.
          </div>
        </div>
        <hr>
      </div>
      <div id="medications" class="tab-pane fade">
        <h3>Gordon's Medication</h3>
        <hr>
        <div class="row">
          <div class="col-md-3"> <strong> NAME: </strong> Vitamin D </div>
          <div class="col-md-3"> <strong> DOCTOR: </strong> Dr. Philly </div>
          <div class="col-md-3"> <strong> REFILLS: </strong> 9 </div>
          <div class="col-md-3"> <strong> PHAMACY: </strong> Walgreens </div>
          <div class="col-md-12"> 
            <hr>
            <strong>DOCTOR'S NOTES:</strong><br>
            Pellentesque iaculis ex vitae nunc maximus viverra. Mauris dictum cursus mollis. Mauris pulvinar sodales ipsum, tristique commodo leo posuere at. Aliquam at molestie nisl. Aliquam at ullamcorper diam. Donec quis mauris porttitor, dapibus tellus non, imperdiet felis. Sed risus magna, elementum vel velit eu, tempor bibendum neque. Nunc et neque quis justo placerat volutpat sed et lectus. Donec aliquam ut tortor eget bibendum. Donec auctor a leo ac condimentum. Vestibulum viverra ipsum in justo sollicitudin gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod, ligula nec imperdiet imperdiet, nunc purus fringilla augue, eget vulputate leo ex at erat.
          </div>
        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-3"> <strong> NAME: </strong> Vitamin D </div>
          <div class="col-md-3"> <strong> DOCTOR: </strong> Dr. Philly </div>
          <div class="col-md-3"> <strong> REFILLS: </strong> 9 </div>
          <div class="col-md-3"> <strong> PHAMACY: </strong> Walgreens </div>
          <div class="col-md-12"> 
            <hr>
            <strong>DOCTOR'S NOTES:</strong><br>
            Pellentesque iaculis ex vitae nunc maximus viverra. Mauris dictum cursus mollis. Mauris pulvinar sodales ipsum, tristique commodo leo posuere at. Aliquam at molestie nisl. Aliquam at ullamcorper diam. Donec quis mauris porttitor, dapibus tellus non, imperdiet felis. Sed risus magna, elementum vel velit eu, tempor bibendum neque. Nunc et neque quis justo placerat volutpat sed et lectus. Donec aliquam ut tortor eget bibendum. Donec auctor a leo ac condimentum. Vestibulum viverra ipsum in justo sollicitudin gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod, ligula nec imperdiet imperdiet, nunc purus fringilla augue, eget vulputate leo ex at erat.
          </div>
        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-3"> <strong> NAME: </strong> Vitamin D </div>
          <div class="col-md-3"> <strong> DOCTOR: </strong> Dr. Philly </div>
          <div class="col-md-3"> <strong> REFILLS: </strong> 9 </div>
          <div class="col-md-3"> <strong> PHAMACY: </strong> Walgreens </div>
          <div class="col-md-12"> 
            <hr>
            <strong>DOCTOR'S NOTES:</strong><br>
            Pellentesque iaculis ex vitae nunc maximus viverra. Mauris dictum cursus mollis. Mauris pulvinar sodales ipsum, tristique commodo leo posuere at. Aliquam at molestie nisl. Aliquam at ullamcorper diam. Donec quis mauris porttitor, dapibus tellus non, imperdiet felis. Sed risus magna, elementum vel velit eu, tempor bibendum neque. Nunc et neque quis justo placerat volutpat sed et lectus. Donec aliquam ut tortor eget bibendum. Donec auctor a leo ac condimentum. Vestibulum viverra ipsum in justo sollicitudin gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod, ligula nec imperdiet imperdiet, nunc purus fringilla augue, eget vulputate leo ex at erat.
          </div>
        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-3"> <strong> NAME: </strong> Vitamin D </div>
          <div class="col-md-3"> <strong> DOCTOR: </strong> Dr. Philly </div>
          <div class="col-md-3"> <strong> REFILLS: </strong> 9 </div>
          <div class="col-md-3"> <strong> PHAMACY: </strong> Walgreens </div>
          <div class="col-md-12"> 
            <hr>
            <strong>DOCTOR'S NOTES:</strong><br>
            Pellentesque iaculis ex vitae nunc maximus viverra. Mauris dictum cursus mollis. Mauris pulvinar sodales ipsum, tristique commodo leo posuere at. Aliquam at molestie nisl. Aliquam at ullamcorper diam. Donec quis mauris porttitor, dapibus tellus non, imperdiet felis. Sed risus magna, elementum vel velit eu, tempor bibendum neque. Nunc et neque quis justo placerat volutpat sed et lectus. Donec aliquam ut tortor eget bibendum. Donec auctor a leo ac condimentum. Vestibulum viverra ipsum in justo sollicitudin gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod, ligula nec imperdiet imperdiet, nunc purus fringilla augue, eget vulputate leo ex at erat.
          </div>
        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-3"> <strong> NAME: </strong> Vitamin D </div>
          <div class="col-md-3"> <strong> DOCTOR: </strong> Dr. Philly </div>
          <div class="col-md-3"> <strong> REFILLS: </strong> 9 </div>
          <div class="col-md-3"> <strong> PHAMACY: </strong> Walgreens </div>
          <div class="col-md-12"> 
            <hr>
            <strong>DOCTOR'S NOTES:</strong><br>
            Pellentesque iaculis ex vitae nunc maximus viverra. Mauris dictum cursus mollis. Mauris pulvinar sodales ipsum, tristique commodo leo posuere at. Aliquam at molestie nisl. Aliquam at ullamcorper diam. Donec quis mauris porttitor, dapibus tellus non, imperdiet felis. Sed risus magna, elementum vel velit eu, tempor bibendum neque. Nunc et neque quis justo placerat volutpat sed et lectus. Donec aliquam ut tortor eget bibendum. Donec auctor a leo ac condimentum. Vestibulum viverra ipsum in justo sollicitudin gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod, ligula nec imperdiet imperdiet, nunc purus fringilla augue, eget vulputate leo ex at erat.
          </div>
        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-3"> <strong> NAME: </strong> Vitamin D </div>
          <div class="col-md-3"> <strong> DOCTOR: </strong> Dr. Philly </div>
          <div class="col-md-3"> <strong> REFILLS: </strong> 9 </div>
          <div class="col-md-3"> <strong> PHAMACY: </strong> Walgreens </div>
          <div class="col-md-12"> 
            <hr>
            <strong>DOCTOR'S NOTES:</strong><br>
            Pellentesque iaculis ex vitae nunc maximus viverra. Mauris dictum cursus mollis. Mauris pulvinar sodales ipsum, tristique commodo leo posuere at. Aliquam at molestie nisl. Aliquam at ullamcorper diam. Donec quis mauris porttitor, dapibus tellus non, imperdiet felis. Sed risus magna, elementum vel velit eu, tempor bibendum neque. Nunc et neque quis justo placerat volutpat sed et lectus. Donec aliquam ut tortor eget bibendum. Donec auctor a leo ac condimentum. Vestibulum viverra ipsum in justo sollicitudin gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod, ligula nec imperdiet imperdiet, nunc purus fringilla augue, eget vulputate leo ex at erat.
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
>>>>>>> 234c9b8af761cd64312d5ac2a3a601d1ccb93988
