<% if @patient.user == current_user || current_user.doctor %>
    <div class="row">
        <div class="col-md-3">
            <address>
                <abbr title="Title">Name:</abbr> <strong><%= @patient.fname %>
                <%= @patient.lname %></strong><br>
                <abbr title="Title">Gender:</abbr>
                <strong><%= @patient.gender %></strong><br>
                <abbr title="Title">Date of Birth:</abbr>
                <strong><%= @patient.dob %></strong><br>
                <% if !@patient.contact.nil? %> <abbr title="Title">Tel:</abbr>
                <strong><%= @patient.contact.mobilephone %></strong> <% end %>
            </address>

            <address>
                <abbr title="Title">Next of Kin:</abbr>
                <strong><%= @patient.nextofkin %></strong><br>
                <abbr title="Title">Tel:</abbr>
                <strong><%= @patient.nextofkinphone %></strong>

            </address>
            <% if !current_user.doctor %>
            <%= link_to 'Edit Your Info', edit_patient_path(@patient), :class => "btn btn-warning btn-sm" %>
            <% end %>
            <hr>
        </div>

        <div class="col-md-5">
            <% if !@patient.contact.nil? %>

            <address>
                <abbr title="Title">Mobile tel:</abbr>
                <strong><%= @patient.contact.mobilephone %></strong><br>
                <abbr title="Title">Home tel:</abbr>
                <strong><%= @patient.contact.homephone %></strong><br>
                <abbr title="Title">City:</abbr>
                <strong><%= @patient.contact.city %>
                <%= @patient.contact.state %></strong><br>
                <abbr title="Title">Country:</abbr>
                <strong><%= @patient.contact.country %>
                <%= @patient.contact.zipcode %></strong><br>
            </address>

            <address>
                <abbr title="Title">Country:</abbr>
                <strong><%= @patient.contact.country %></strong><br>
                <abbr title="Title">Zipcode:</abbr>
                <strong><%= @patient.contact.zipcode %></strong><br>
            </address>
            <% if !current_user.doctor %>
            <%= link_to "Edit Your Contact", edit_patient_contact_path(@patient, @contact) , :class => "btn btn-warning btn-sm" %>
            <% end %>
            <hr>
            <% else %><%= link_to "Add Contacts", new_patient_contact_path(@patient, @contact) , :class => "btn btn-success btn-lg" %><% end %>
        </div>

        <div class="col-md-4 text-right">
            <div class="list-group">
                <a class="list-group-item disabled text-right" href=
                "#"><strong><%= @patient.fname %>'s MEDICATION
                LIST</strong></a> <% for medicine in @medicines %>
                <%= link_to patient_medicine_path(@patient, medicine) do %>
                <%= medicine.name %> . <%= medicine.gram %> .
                <%= medicine.prescription %> . <strong><%= medicine.refill %>
                <% end %> <% end %></strong>
            </div><strong><% if current_user.doctor %>
            <%= link_to "Add Medicine", new_patient_medicine_path(@patient), :class => "btn btn-warning btn-sm" %>
            <% end %></strong>
            <hr>
            <strong></strong>
        </div>
    </div>

    <h4><strong>Doctors Summary Notes</strong></h4>
    <hr>

    <div class="row">
        <% if !@patient.summaries.nil? %>
        <% @summary.each do |summary| %>

        <div class="col-md-12">
            <blockquote>
                <p><%= @patient.fname %>'s visit notes added on: <%= summary.created_at.to_formatted_s(:long) %> </p>
                <p><%= summary.complaint %></p>
                <footer> <%= summary.notes %> </footer>
            </blockquote>
        </div>

        <div class="col-md-12 text-right">
            <% if current_user.doctor %><%= link_to "Edit Note", edit_patient_summary_path(@patient, summary), :class => "btn btn-warning btn-sm"  %> |
            <%= link_to "Delete Note", patient_summary_path(@patient, summary), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm"  %>
            <% end %>
            <hr>
        </div><% end %>
    </div><% if current_user.doctor %><%= link_to "Add Another Summary", new_patient_summary_path(@patient, @summary), :class => "btn btn-success"  %><% end %><% else %><% if current_user.doctor %><%= link_to "Add Summary", new_patient_summary_path(@patient, @summary), :class => "btn btn-success"  %><% end %><% end %>
    <hr>
    <% else %>

    <div class="row">
        <div class="col-md-12 text-center">
            <%= link_to 'Add Your Information to get started', new_patient_path, :class => "btn btn-success btn-lg" %>
        </div>
    </div><% end %>
