<!DOCTYPE html>
<html>
<head>
	<title>Patient Managment System</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	<div class="row top30"></div>
		<div class="row">
 		 <div class="col-md-6"></div> 
 		 <div class="col-md-6 text-right">
 		 	<% if user_signed_in? %>
		<hr>
		  <%= link_to "Sign out", destroy_user_session_path,:method => :delete, :class => "btn btn-danger" %> 
		<hr>
		  <% end %>
		</div>
	</div>

		<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, class: "alert alert-success" %>
		<% end %>

		<%= yield %>
	</div>

</body>
</html>
